.loader {
		z-index: 10000;

  margin: 6em auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(128, 128, 128, 1);
  border-right: 1.1em solid rgba(128, 128, 128, 1);
  border-bottom: 1.1em solid rgba(128, 128, 128, 1);
  border-left: 1.1em solid #000000;
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}


.ui-page-theme-a a:hover, html .ui-bar-a a:hover, html .ui-body-a a:hover, html body .ui-group-theme-a a:hover
{
    color:white !important;
}
.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper
{
    text-shadow: none !important;
}


.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
	src: local('Lato Light'), local('Lato-Light'), url(../fonts/Lato-Light.ttf);
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: local('Lato Regular'), local('Lato-Regular'), url(../fonts/Lato-Regular.ttf);
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: local('Lato Bold'), local('Lato-Bold'), url(../fonts/Lato-Bold.ttf);
}


h2, h3, p, a, .headerButton {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
html
{
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.room { width:605px; height: auto; border:1px solid #ddd; float:left; margin-right:30px; margin-bottom:30px; }

.style { width:605px; height: auto; border:1px solid #ddd; float:right; margin-bottom:30px;}

.collection{width:1240px; height: auto; border:1px solid #ddd; clear:both; }

.clear {
	clear: both;
}

body {
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
	background: #404040;
	color: #000;
	width: 100%;
	height: 100%;
	overflow: scroll;
	position: fixed;
}

a{
text-decoration:none;
}


#wrapper {
	width: 1366px;
	height: 850px;
	/*background: url(../images/attractor_screen.jpg) no-repeat center top;*/
	/*max-height: 900px;*/
    overflow-x:hidden; 
    overflow-y:scroll; 
	-webkit-transform-origin: 0 0;
	/*-moz-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-o-transform-origin: 0 0;
	transform-origin: 0 0;*/
	/*position: fixed;*/
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
}

#login-wrap {
	width: 100%;
	height: 100%; text-align:center;

	
}

.loginlogo { width:245px; height:51px; margin:250px auto 0  }
.res4to3 #wrapper {
	height: 1024px;
}

.pageHeader {
	position: relative;
	height: 70px;
	background: #404040;
	z-index: 11000;
}

.res4to3 .pageHeader {
	height: 100px;
}

.logo {
	float: left;
	margin: 13px 0 13px 60px;
	max-height: 44px;
	cursor: pointer;
}

.res4to3 .logo {
	margin: 20px 0 20px 60px;
	max-height: 60px;
}

.headerButton {
	height: 30px;
	line-height: 30px;
	color: #fff;
	font-size: 24px;
	font-weight: 700;
	padding: 20px;
	background: #333;
}

.res4to3 .headerButton {
	padding: 30px;
}

.headerButton:hover {
	background: #555;
	box-shadow: none;
	cursor: pointer;
}

.headerButton.active {
	background: #676767;
}

.homebutton {
	float: left;
	margin-left: 20px;

}

.homebutton i {
	margin-right: 10px;
}

.catalog {
	float: right;

	margin-right: 60px;
}

.catalog i, .searchButton i {
	margin-left: 10px;
}

.searchButton {
	float: right;
	position: relative;
	margin-right: 20px;
}

/*----*/

.pageContent {
	position: relative;
	height: 678px;
	margin: 20px 60px 0;
}

.view {
	position: absolute;
	top: 0;
	left: 1366px;
	width: 100%;
	height: 100%;
	transition: left 0.3s ease-out;
}

.gridView {
	left: -1366px;
}

.view.active {
	left: 0;
}

h2 {
	font-weight: 700;
	font-size: 24px;
	padding: 20px 0;
	margin: 0;
	border-top: 1px solid #404040;
	position: relative;
	cursor: pointer;
}

h2:after {
	position: absolute;
	right: 0;
	top: 22px;
	content: '\f054';
	font-family: 'FontAwesome';
	line-height: 1;
}

h2.active:after {
	content: '\f078';
}

p {
	line-height: 1.5;
	color: #000;
	font-weight: 300;
	font-size: 20px;
	margin: 0 0 20px;
}

/*---*/

.res4to3 #productGrid, .res4to3 #imageColumn, .res4to3 #descriptionColumn {margin-top: 100px;}

.bx-wrapper .bx-viewport {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: none;
	left: 0;
}

.bx-wrapper .bx-prev {
	left: -40px;
	background: none;
	margin-top: -40px !important;
	height: 80px !important;
	width: 80px !important;
}

.bx-wrapper .bx-prev:before {
	font-family: 'FontAwesome';
	font-size: 80px;
	line-height: 80px;
	height: 80px;
	width: 80px;
	content: '\f137';
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 0;
	text-align: center;
	background: #fff;
	border-radius: 80px;
	color: #F68428;
}

.bx-wrapper .bx-prev:hover:before {
	/*color: #222;*/
}

.bx-wrapper .bx-next {
	right: -40px;
	background: none;
	margin-top: -40px !important;
	height: 80px !important;
	width: 80px !important;
}

.bx-wrapper .bx-next:before {
	font-family: 'FontAwesome';
	font-size: 80px;
	line-height: 80px;
	height: 80px;
	width: 80px;
	content: '\f138';
	position: absolute;
	top: 0;
	left: 0;
	text-indent: 0;
	text-align: center;
	background: #fff;
	border-radius: 80px;
	color: #F68428;
}

.bx-wrapper .bx-next:hover:before {
	/*color: #444;*/
}

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	bottom: -40px;
}

.res4to3  .bx-wrapper .bx-pager, .res4to3  .bx-wrapper .bx-controls-auto {
	bottom: -100px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
	border-radius: 10px;
	height: 20px;
	width: 20px;
}

.productGridSlide {
	position: relative;
	width: 1246px;
	height: 620px;
}

.box {
	width: 400px;
	height: 300px;
	background: #404040;
	cursor: pointer;
}

.box1 {
	position: absolute;
	top: 0;
	left: 0;
}

.box2 {
	position: absolute;
	top: 0;
	left: 421px;
}

.box3 {
	position: absolute;
	top: 0;
	right: 0;
}

.box4 {
	position: absolute;
	top: 320px;
	left: 0;
}

.box5 {
	position: absolute;
	top: 320px;
	left: 421px;
}

.box6 {
	position: absolute;
	top: 320px;
	right: 0;
}

.productGridImage {
	width: 390px;
	height: 250px;
	background-size: cover;
	background-color: #fff;
	margin: 5px 5px 0;
	background-position: center center;
	background-repeat: no-repeat;
}

.productGridSeriesName {
	text-align: center;
	font-size: 20px;
	color: #fff;
	height: 45px;
	line-height: 45px;
}

/*------*/

#searchField {
	position: absolute;
	top: 70px;
	right: 0;
	padding: 20px;
	width: 300px;
	background: #676767;
	display: none;
}

#searchField.active {
	display: block;
}

#searchField input {
	width: 80%;
	padding: 10px;
	font-size: 20px;
	border: none;
	background: #fff;
}

#searchField button {
	width: 20%;
	padding: 10px;
	font-size: 20px;
	border: none;
	background: #F68428;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

#searchField button:hover {
	background: #404040;
}

#catalog {
	width: 400px;
	padding: 30px 60px 30px 30px;
	background: #676767;
	z-index: 10000;
	height: 638px;
	position: absolute;
	right: -560px;
	top: 70px;
	transition: right 0.3s ease-out;
	box-shadow: 0 0 20px #333;
	/*overflow: hidden; given by pubs team*/
	overflow-y: scroll; 
}

#catalog.active {
	right: 0;
}

/*side bar catelog tree*/
 #catalog
 {
 	overflow-y: scroll !important;
 }
.sortLink {
	display: inline-block;
	float: left;
	/*width: 200px;*/
	width: 430px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	text-align: center;
	/*color: #fff;*/
	color: #f68428 !important;
	font-size: 25px;
	text-transform: uppercase;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	font-weight: 300;
}

.sortLink.active {
	background: #fff;
	color: #676767;
}

#catalogCategories {
	/*width: 920px; given by pubs team*/
	width: 450px;
	position: relative;
	left: 0;
	transition: left 0.3s ease-out;
}

#catalogCategories.styles {
	left: -460px;
}

.categoryList {
	width: 400px;
	float: left;
	margin-right: 60px;
}

.categoryList ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.categoryList > ul > li {
	margin: 0;
	padding: 0 0 5px;
	list-style: none;
	/*border-bottom: 1px solid #fff; */
}

.categoryList > ul > li > a {
	padding: 15px 0 10px;
	/*font-size: 20px;*/
	font-size: 40px;
	display: block;
	color: #fff;
	cursor: pointer;
	position: relative;
}

.categoryList > ul > li > a.hasSub:after {
	position: absolute;
	right: 0;
	top: 17px;
	content: '\f054';
	font-family: 'FontAwesome';
}

.categoryList > ul > li > a.hasSub.active:after {
	content: '\f078';
}

.categoryList > ul ul {
	margin: 0 0 0 25px;
	padding: 0 0 15px;
	display: none;
}

.categoryList > ul ul > li > a {
	padding: 7px 0;
	font-size: 20px;
	display: block;
	color: #fff;
	cursor: pointer;
	font-weight: 300;
}

.categoryList a.activeColor {
	color: #F68428;
}

/*---*/

#imageColumn, #descriptionColumn {height: 630px;}

#imageColumn {position: absolute;
	top: 0;
	left: 0;
	}
#detailMainImage {
	width: 690px;
	height: 440px;
	border: 5px solid #404040;
	background-color: #eee;
	/*background-image: url(../images/dummy02.jpg);*/
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}

#detailMainImage img {
	width:100%;
	height:440px;
	}


#additionalImages {
	position: relative;
	margin-top: 20px;
	width: 760px;
}

.additionalImage {
	width: 156px;
	height: 140px;
	margin-right: 20px;
	float: left;
	/*background: url(../images/dummy03.jpg) no-repeat;*/
	background-size: cover;
	background-position: center center;
	cursor: pointer;
	border: 2px solid #404040;
	background-color: #eee;
}

.additionalImage img {
	width:100%;
	height:140px;
	}
	
#colorSwatch {
	margin:14px 60px 0px 0px;
	float:right;
	}
	
.white {
	background:#ffffff;
	border:1px solid #797979;
	width:18px;
	height:18px;
	margin:0px 0px 0px 8px;
	float:right;
	}
	
.ocher-yellow {
	background:#cc9900;
	border:1px solid #797979;
	width:18px;
	height:18px;
	margin:0px 0px 0px 8px;
	float:right;
	}
	
.grey {
	background:#999999;
	border:1px solid #797979;
	width:18px;
	height:18px;
	margin:0px 0px 0px 8px;
	float:right;
	}
	
.black {
	background:#000000;
	border:1px solid #797979;
	width:18px;
	height:18px;
	margin:0px 0px 0px 8px;
	float:right;
	}

#descriptionColumn {
	width: 480px;
	position: absolute;
	top: 0;
	right: 0;
}

#productTable {
	margin-bottom: 20px;
}

#productTable table {
	width: 100%;
	border-collapse: collapse;
}

#productTable table tr.odd {
	background: #eee;
}

#productTable table td {
	padding: 15px;
	font-size: 20px;
	font-weight: 300;
}

#productTable table td.td-right {
	font-weight: 700;
}

#actionButtons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.actionButton {
	background: #F68428;
	color: #fff;
	display: block;
	height: 47px;
	line-height: 47px;
	cursor: pointer;
	padding: 0;
	text-align: center;
	font-size: 20px;
	margin-top: 9.5px;
}

.actionButton:hover, .actionButton.active {
	background: #404040;
}

.foldContent {
	padding: 20px;
	display: none;
	background: #e0e0e0;
}

.foldContent input {
	width: 80%;
	padding: 10px;
	font-size: 20px;
	border: none;
	background: #fff;
}

.foldContent button {
	width: 20%;
	padding: 10px;
	font-size: 20px;
	border: none;
	background: #F68428;
	color: #fff;
	text-align: center;
	cursor: pointer;
}

.foldContent button:hover {
	background: #404040;
}

/*--*/

.zoomInOn, .zoomInOff {
	left: 10px;
}

.zoomOutOn, .zoomOutOff {
	left: 10px;
}

::-webkit-input-placeholder {

	color: #999;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

:-moz-placeholder {

	color: #999;
	opacity: 1;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

::-moz-placeholder {

	color: #999;
	opacity: 1;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

:-ms-input-placeholder {

	color: #999;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

input, textarea, button {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

#touchOverlay, #popupOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, 0.6);
	top: 0;
	left: 0;
}

#touchPointer {
	position: absolute;
	top: 50%;
	left: 50%;
	background: url(../images/touch.png) no-repeat;
	width: 214px;
	height: 224px;
	z-index: 5555;
}

#touchPulse {
	width: 70px;
	height: 70px;
	background: #999;
	border-radius: 50px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 43px;
	z-index: 4444;
	box-shadow: 0 0 50px #333;
	border: 5px solid #999;
	-webkit-animation: mypulse 1.3s; /* Chrome, Safari, Opera */
	-webkit-animation-iteration-count: infinite;
	animation: mypulse 1.3s;
	animation-iteration-count: infinite;
}

/*-----*/

@-webkit-keyframes mypulse {
	0% {
		box-shadow: 0 0 50px #333;
		background: #fff;

	}
	50% {
		box-shadow: 0 0 100px #999;
		background: #fff;
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		-o-transform: scale(1.3);
		transform: scale(1.3);

	}
	100% {
		box-shadow: 0 0 50px #333;
		background: #fff;

	}
}

@keyframes mypulse {
	0% {
		box-shadow: 0 0 50px #333;
		background: #ccc;

	}
	50% {
		box-shadow: 0 0 100px #999;
		background: #eee;
		-webkit-transform: scale(1.3);
		-moz-transform: scale(1.3);
		-ms-transform: scale(1.3);
		-o-transform: scale(1.3);
		transform: scale(1.3);

	}
	100% {
		box-shadow: 0 0 50px #333;
		background: #ccc;

	}
}